.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;


}

.App h1 {
  flex: 100%;
}

.SearchBar {
  flex: 100%;
  padding: 2rem;
}


.SearchBar input {
  margin: 1rem;

}

.inputDiv {
  margin-bottom: 1rem;
  padding: 2rem;
  background-color: gray;
  flex: 100%;
}

.artistPar {
  font-size: 1.5rem;
  font-weight: bold;
}

.results {
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(145, 11, 150);
  padding: 2rem;
  flex: 30%;
}

.results li {
  list-style-type: none;
}

.resultsDiv :hover {
  background-color: rgb(108, 4, 111);
  cursor: pointer;
}

.tracksDiv :hover{
  background-color: rgb(108, 4, 111);
}

.SearchResults {
  margin: 2rem 5rem;
  width: 30%;
  background-color: darkblue;
  text-align: left;
  color: white;
}


.SearchResults div {
  padding: 1rem;
}

.SearchResults h2 {
  margin: 0;
}

.SearchResults p {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

.Playlist {
  margin: 2rem 5rem;
  width: 30%;
  height: 30rem;
  background-color: darkblue;
}

.tracks {
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  flex: 30%;
  background-color: darkblue;
  text-align: center;
  color: white;
}

.tracks p {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

.tracks li {
  list-style-type: none;
}

.TrackList {
  margin: 2rem 5rem;
  flex: 30%;
  background-color: darkblue;
  text-align: left;
  color: white;
}

.TrackList div {
  padding: 1rem;
}

.TrackList h2 {
  margin: 0;
}

.TrackList p {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

.tracklistName {
  background-color: rgb(5, 5, 127);
  color: white;

}

.SaveToSpotify {
  margin: 2rem;
  background-color: rgb(108, 88, 2);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.artistPar {
  
}

.titlePar {
  
}